
@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<div class="LoadSP">
    @foreach (var item in Model)
    {
        <div class="DS-TimKiem">
            <div>
                @{
                    if (item.ImagePath != null)
                    {
                        <a href="~/SanPham/Details/@item.MaSP">
                            <img src="@Url.Content(item.ImagePath)" class="img-rounded" id="ImgProduc" />
                        </a>
                    }
                    else
                    {
                        <img src="~/images/image.png" style="max-width:288px;max-height:314px" />
                    }
                }
            </div>
            <div class="star">
                <i class="fa fa-star yellow-star" aria-hidden="true"></i>
                <i class="fa fa-star yellow-star" aria-hidden="true"></i>
                <i class="fa fa-star yellow-star" aria-hidden="true"></i>
                <i class="fa fa-star yellow-star" aria-hidden="true"></i>
                <i class="fa fa-star gray-star" aria-hidden="true"></i><br />
                <p id="Product1_text">
                @
                </p>
                <p id="Price_new1">@item.DonGia.ToString("N0")@("VND")</p>
            </div>
        
        </div>
     }

</div>

