@model IEnumerable<WebShoe.Models.ChiTietGioHang>


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
    double total = 0;
}

<h2>Index</h2>

@if (Session["cart"] != null)
{
<div class="small-container cart-page">
    <table>
        <tr>
            <th></th>
            <th>Sản phẩm</th>
            <th>Số Lượng</th>
            <th>Tổng tiền</th>
            <th></th>
        </tr>
        
    </table>

</div>
}